{% extends '@TvShowManager/layout.html.twig' %}

{% block body %}
	<div class="row">
		{% for serie in series %}
			<div class="col s12 m4 l3">
				<div class="card">
					<div class="card-image">
						<img class="responsive-img" src="{{serie.url}}">
						<a href="{{ path('tv_show_manager_show', {'id' : serie.id }) }}" class="btn-floating halfway-fab waves-effect waves-light red">
							<i class="material-icons">visibility</i>
						</a>
					</div>
					<div class="card-content">
						<span class="card-title">{{serie.name}}</span>
						<p>{{serie.type}} - {{serie.year}}</p>
						{% if serie.avg %}
							<strong>{{ serie.avg|number_format(1, ',') }}/5</strong>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}