{% extends '@TvShowManager/layout.html.twig' %}

{% block content %}

    <h2>Liste des séries :</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Genre</th>
                <th>Année</th>
                <th>Illustration</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for show in tvShows %}
            <tr>
                <td>{{ show.name }}</td>
                <td>{{ show.type }}</td>
                <td>{{ show.year }}</td>
                <td><img src="{{ show.url }}" alt="{{ show.name }}" class="illustration"></td>
                <td>
                    <a href="{{ path('tv_shows_edit', {'tvShowName':show.name}) }}">Modifier</a>
                    <span> / </span>
                    <a href="{{ path('tv_shows_delete', {'tvShowName':show.name}) }}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}