{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Liste des épisodes{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-lg btn-info" href="{{ path('tvshow_list') }}" role="button">Retour liste des séries</a>
        </div>
        <div class="col-xs-6 text-right">
            <a class="btn btn-lg btn-success" href="{{ path('episode_add', { 'id': tvshow.id }) }}" role="button">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Ajouter un épisode
            </a>
        </div>
    </div>

<h1>Liste des épisode de la série {{ tvshow.name }}</h1>

    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Season</th>
            <th>Number</th>
            <th>Note</th>
            <th></th>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.name }}</td>
                <td>{{ episode.season }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.note }}</td>
                <td>
                    <a href="{{ path('episode_modif', { 'id': episode.id }) }}" class="btn btn-primary" role="button">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Modifier
                    </a>
                    <a class="btn btn-danger" href="{{ path('episode_delete', { 'id': episode.id }) }}" role="button">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
